*,
::after, ::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-left: o;
   margin-right: 0;
   margin-bottom: 0;
   margin-top: 0;
}

ul,
ol,
li {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
}
img {
   display: block;
}

.hero__section {
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
background-image: url(../images/bg@2x.jpg);
}
.hero__container {
    width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.header__text {
    color: #fff;
    margin-left: 250px;
    margin-top: 10px;
}
.address-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 400px;
}
.address {
    text-align: center;
    color: #fff;
}
.contacts {
    margin-left: 100px;
}
.header-contact {
    color: #fff;
}
.icon-tel {
    width: 19px;
    height: 19px;
    fill: currentColor;
}
/* END OF HEADER*/


.hero__delivery {
    width: 600px;
    margin-left: 250px;
    margin-top: 188px;
    position: relative;
}
.hero__text {
    font-style: normal;
    font-size: 40px;
    color: #fff;
    line-height: 1.3;


}

.hero-paragraph {
    font-style: normal;
    font-size: 24px;
    color: #fff;
    line-height: 1.3;
    margin-top: 24px;
}

.choose__btn {
    margin-top: 40px;
    width: 220px;
    height: 70px;
    border-radius: 8px;
    background: #fed84c;
    
    color: #2e363e;
}
.small__text {
    font-size: 15px;
    color: #fff;
    position: absolute;
    left: 240px;
    bottom: 20px;
}
.wish__text {
    font-style: normal;
    font-size: 36px;
    color: #2e363e;
    margin-top: 400px;
    margin-left: 400px;

}

/* END OF SECTION */


.cardset__section {
    padding-top: 100px;
}
.cardset__block {
    width: 1180px;
    margin-left: 210px;
    margin-right: 210px;;
}
.cardset__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    flex-basis: calc((100% - 60px) / 3);
}
.cardset__item {
    flex-basis: calc((100% - 60px) /3);
    margin-left: 20px;
    margin-bottom: 20px;
}
.card__content {
   width: 380px;
   padding-left: 20px;
   padding-top: 20px;
   border-bottom: 1px solid #f1f1f1;
   border-left: 1px solid #f1f1f1;
   border-right: 1px solid #f1f1f1;
   border-radius: 4px;
   
   box-shadow: 2px 8px 16px 0px #C2C6D00F;

}
.card-paragraph {
    font-size: 24px;
    color: #2e363e;
    margin-bottom: 20px;
    
}
.card-text {
    font-size: 16px;
    color: #2e363e;
    
    
}
.prize {
    margin-top: 20px;
    color: #434b53;
    font-weight: bold;
    font-size: 24px;;
    display: block;
}
.order-btn {
    width: 150px;
    height: 60px;
    border-radius: 8px;
    margin-top: 20px;
    background: #fed84c;
    color: #2e363e;
}

/*END OF SECTION*/

.middle__section {
    max-width: 1600px;
   
}
.middle__block {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}
.middle__image {
    display: block;
   
}
.right__block {
    width: 480px;
   top: 400px;
   left: 900px;
    position: absolute;
    color:#fff;
}
.right__block-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 36px;
}
.right__block-paragraph {
    font-style: normal;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    
}

/*END OF SECTION*/

.girl__section {
    max-width: 1600px;
}
.girl__block {
    width: 1600px;

    
}
.girl__left-block {
    width: 580px;
    margin-left: 360px;
    margin-top: 98px;
    
    margin-bottom: 40px;
}
.girl__content-text {
    font-weight: 500;
    font-size: 32px;

}